In [1]:
from utils import *

###  I. Изначальная версия

In [2]:
rho = np.array([[1.00,  0.10,  0.45,  0.64 * np.sqrt(32.00)],
                [0.10,  1.00, -0.35, -0.24 * np.sqrt(32.00)],
                [0.45, -0.35,  1.00,  0.14 * np.sqrt(32.00)],
                [0.64 * np.sqrt(32.00), -0.24 * np.sqrt(32.00),  0.14 * np.sqrt(32.00), 32.00]])

r = 0.9
betas = np.array([1, 1, 1])
gammas = np.array([[3.3, 0.0, 0.0], # в оригинале 0.9, но мб надо 3.3
                   [1.0, 1.0, 0.0],
                   [1.0, 0.0, 1.0]])
gammas = gammas.T

In [3]:
np.random.seed(999)

run_simulations(n=1000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.405652,0.091888,140.565223,1.195146,0.006034,19.536283,1.119276,0.006681,12.462015
1,DMF,0.887245,0.318801,45.770028,0.993512,0.009698,7.872344,0.989902,0.010002,8.043129
2,Catboost,4.106765,754.617968,1041.275638,1.029795,0.008985,7.860025,1.016276,0.009348,7.830933

In [4]:
np.random.seed(999)

run_simulations(n=10000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.423003,0.008660,142.300318,1.199040,0.000583,19.904016,1.118455,0.000631,11.845506
1,DMF,0.874552,0.029752,17.174862,0.994753,0.000903,2.424003,0.986093,0.000962,2.730854
2,Catboost,0.808828,179.750929,844.788427,1.014481,0.000962,2.770993,1.008191,0.000968,2.547159

In [5]:
np.random.seed(999)

run_simulations(n=100000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.423369,0.000863,142.336928,1.197959,0.000062,19.795896,1.117813,0.000065,11.781334
1,DMF,0.873750,0.003022,12.669436,0.994028,0.000100,0.941664,0.985224,0.000091,1.523557
2,Catboost,-8.073288,70.164166,987.576565,1.011340,0.000102,1.271959,1.006553,0.000093,0.952400

### II. Более высокие корреляции ошибок

In [6]:
rho = np.array([[1.00,  0.50,  0.60,  0.64 * np.sqrt(32.00)],
                [0.50,  1.00,  0.70, -0.24 * np.sqrt(32.00)],
                [0.60,  0.70,  1.00,  0.14 * np.sqrt(32.00)],
                [0.64 * np.sqrt(32.00), -0.24 * np.sqrt(32.00),  0.14 * np.sqrt(32.00), 32.00]])

r = 0.9
betas = np.array([1, 1, 1])
gammas = np.array([[3.3, 0.0, 0.0], # в оригинале 0.9, но мб надо 3.3
                   [1.0, 1.0, 0.0],
                   [1.0, 0.0, 1.0]])
gammas = gammas.T

In [7]:
np.random.seed(999)

run_simulations(n=1000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.409674,0.089768,140.967423,1.203230,0.006089,20.343575,1.117469,0.006356,12.196743
1,DMF,0.978607,0.214757,36.841083,0.994779,0.008285,7.192525,1.003947,0.008456,7.395345
2,Catboost,3.919351,605.267329,1103.107886,1.022440,0.008414,7.477410,1.018291,0.008228,7.370488

In [8]:
np.random.seed(999)

run_simulations(n=10000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.418841,0.008770,141.884065,1.206052,0.000610,20.605191,1.114942,0.000610,11.494228
1,DMF,0.957392,0.020480,11.959701,0.994080,0.000768,2.241755,0.999669,0.000836,2.301708
2,Catboost,-2.416645,306.010926,1202.844642,1.009772,0.000844,2.485660,1.006289,0.000865,2.395867

In [9]:
np.random.seed(999)

run_simulations(n=100000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:103: RuntimeWarning: invalid value encountered in true_divide
  df['lambda2'] = prob_lr[:, 1] * np.log(prob_lr[:, 1]) / (1 - prob_lr[:, 1])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:103: RuntimeWarning: invalid value encountered in true_divide
  df['lambda2'] = prob_lr[:, 1] * np.log(prob_lr[:, 1]) / (1 - prob_lr[:, 1])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:103: RuntimeWarning: invalid value encountered in true_divide
  df['lambda2'] = prob_lr[:, 1] * np.log(prob_lr[:, 1]) / (1 - prob_lr[:, 1])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:104: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.419569,0.000798,141.956888,1.205339,0.000061,20.533924,1.114267,0.000062,11.426672
1,DMF,0.956758,0.002060,5.133349,0.993316,0.000083,0.919769,0.999070,0.000079,0.711134
2,Catboost,-7.482793,86.243200,1009.875439,1.009197,0.000107,1.127656,1.004759,0.000082,0.826507