In [1]:
from utils import *

###  I. Изначальная версия

In [2]:
rho = np.array([[1.00,  0.10,  0.45,  0.64 * np.sqrt(32.00)],
                [0.10,  1.00, -0.35, -0.24 * np.sqrt(32.00)],
                [0.45, -0.35,  1.00,  0.14 * np.sqrt(32.00)],
                [0.64 * np.sqrt(32.00), -0.24 * np.sqrt(32.00),  0.14 * np.sqrt(32.00), 32.00]])

r = 0.9
betas = np.array([1, 1, 1])
gammas = np.array([[3.3, 0.0, 0.0], # в оригинале 0.9, но мб надо 3.3
                   [1.0, 1.0, 0.0],
                   [1.0, 0.0, 1.0]])

In [3]:
np.random.seed(999)

run_simulations(n=1000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.012363,0.060922,101.236286,0.908164,0.004798,9.887380,0.842823,0.004511,15.743109
1,DMF,0.909866,0.175158,34.263808,1.010697,0.006500,6.432505,1.008086,0.007241,6.906884
2,Catboost,4.135813,1674.175800,1354.763989,0.990731,0.006340,6.385389,0.979231,0.006712,6.749184

In [4]:
np.random.seed(999)

run_simulations(n=10000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.014487,0.006472,101.448665,0.907965,0.000450,9.203506,0.840405,0.000457,15.959480
1,DMF,0.911139,0.017491,12.861265,1.011632,0.000606,2.190206,1.004854,0.000700,2.117664
2,Catboost,0.856633,264.653566,1002.048656,0.997829,0.000623,1.981896,0.985352,0.000718,2.457734

In [5]:
np.random.seed(999)

run_simulations(n=100000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.016939,0.000627,101.693879,0.906097,0.000049,9.390294,0.840929,0.000045,15.907113
1,DMF,0.906172,0.001718,9.413796,1.010286,0.000068,1.107332,1.006549,0.000073,0.875831
2,Catboost,-5.500422,72.489761,814.042214,0.995304,0.000071,0.773341,0.991467,0.000081,1.017871

### II. Более высокие корреляции ошибок

In [6]:
rho = np.array([[1.00,  0.50,  0.60,  0.64 * np.sqrt(32.00)],
                [0.50,  1.00,  0.70, -0.24 * np.sqrt(32.00)],
                [0.60,  0.70,  1.00,  0.14 * np.sqrt(32.00)],
                [0.64 * np.sqrt(32.00), -0.24 * np.sqrt(32.00),  0.14 * np.sqrt(32.00), 32.00]])

r = 0.9
betas = np.array([1, 1, 1])
gammas = np.array([[3.3, 0.0, 0.0], # в оригинале 0.9, но мб надо 3.3
                   [1.0, 1.0, 0.0],
                   [1.0, 0.0, 1.0]])

In [7]:
np.random.seed(999)

run_simulations(n=1000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

/Users/markymark/Desktop/Diploma/Benchmark/utils.py:103: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])
/Users/markymark/Desktop/Diploma/Benchmark/utils.py:103: RuntimeWarning: invalid value encountered in true_divide
  df['lambda3'] = prob_lr[:, 2] * np.log(prob_lr[:, 2]) / (1 - prob_lr[:, 2])

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,1.998443,0.060075,99.844270,0.911162,0.004704,9.634827,0.839822,0.004448,16.046453
1,DMF,0.958537,0.124063,28.002029,1.001814,0.005786,6.059851,1.010535,0.006168,6.291612
2,Catboost,2.869000,5157.858585,1848.328966,0.992898,0.005798,6.054236,0.988116,0.006001,6.273261

In [8]:
np.random.seed(999)

run_simulations(n=10000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.006145,0.006236,100.614512,0.910124,0.000439,8.987643,0.835821,0.000451,16.417939
1,DMF,0.960437,0.013077,9.720780,1.002765,0.000559,1.908712,1.005954,0.000599,2.007575
2,Catboost,-5.868898,570.078445,1629.470328,0.999372,0.000597,1.950965,0.989268,0.000618,2.162357

In [9]:
np.random.seed(999)

run_simulations(n=100000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.007785,0.000650,100.778503,0.908533,0.000049,9.146683,0.836338,0.000044,16.366246
1,DMF,0.956785,0.001267,4.701736,1.001185,0.000061,0.624299,1.007603,0.000062,0.903057
2,Catboost,-8.378000,152.315870,1262.338871,0.996358,0.000063,0.696876,0.994975,0.000068,0.774159