In [1]:
from utils import *

In [2]:
rho = np.array([[1.00,  0.10,  0.45,  0.64 * np.sqrt(32.00)],
                [0.10,  1.00, -0.35, -0.24 * np.sqrt(32.00)],
                [0.45, -0.35,  1.00,  0.14 * np.sqrt(32.00)],
                [0.64 * np.sqrt(32.00), -0.24 * np.sqrt(32.00),  0.14 * np.sqrt(32.00), 32.00]])

r = 0.9
betas = np.array([1, 1, 1])
gammas = np.array([[3.3, 0.0, 0.0], # в оригинале 0.9, но мб надо 3.3
                   [1.0, 1.0, 0.0],
                   [1.0, 0.0, 1.0]])

In [4]:
np.random.seed(999)

run_simulations(n=1000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.012363,0.060922,101.236286,0.908164,0.004798,9.887380,0.842823,0.004511,15.743109
1,DMF,0.909866,0.175158,34.263808,1.010697,0.006500,6.432505,1.008086,0.007241,6.906884
2,Catboost,4.135813,1674.175800,1354.763989,0.990731,0.006340,6.385389,0.979231,0.006712,6.749184

In [7]:
np.random.seed(999)

run_simulations(n=10000, rho=rho, r=r, betas=betas, gammas=gammas)

  0%|          | 0/1000 [00:00<?, ?it/s]

,method,beta0_mean,beta0_sd,beta0_MAPE,beta1_mean,beta1_sd,beta1_MAPE,beta2_mean,beta2_sd,beta2_MAPE
0,OLS,2.014487,0.006472,101.448665,0.907965,0.000450,9.203506,0.840405,0.000457,15.959480
1,DMF,0.911139,0.017491,12.861265,1.011632,0.000606,2.190206,1.004854,0.000700,2.117664
2,Catboost,0.856633,264.653566,1002.048656,0.997829,0.000623,1.981896,0.985352,0.000718,2.457734