In [221]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import statsmodels.api as sm
from statsmodels.discrete.discrete_model import MNLogit

In [61]:
df_leave = pd.read_csv('./data/transfers_21.csv', index_col=0).rename(columns={'Age': 'age'})
df_remain = pd.read_csv('./data/remain_21.csv', index_col=0).rename(columns={'Age': 'age'})

df_leave.sample(3, random_state=999)

,Name,age,date,nationality,club,fee_y,position,market,match,goal,assist,minute,miss,clean,height,href,join,contract
246,Morgan Gibbs-White,22,"Jan 27, 2000",England,Wolverhampton,29.5,Attacking Midfield,25.00,40,13,10,3181,0,0,1.78,/morgan-gibbs-white/profil/spieler/429014,NaN,NaN
37,Luka Racic,23,"May 8, 1999",Denmark,Brentford,out,Centre-Back,0.25,14,2,0,1248,0,0,1.87,/luka-racic/profil/spieler/345587,"Jul 1, 2022","Jun 30, 2027"
200,Tobias Figueiredo,28,"Feb 2, 1994",Portugal,Nottingem,out,Centre-Back,2.00,28,0,0,2010,0,0,1.88,/tobias-figueiredo/profil/spieler/122077,"Jan 30, 2020",-

In [62]:
dict_classes = {np.nan: 0,
                'out': 1}

dict_positions = {'Goalkeeper': 'GK', 
                  'Left-Back': 'DF', 'Centre-Back': 'DF', 'Right-Back': 'DF',
                  'Defensive Midfield': 'MF', 'Left Midfield': 'MF', 'Right Midfield': 'MF',
                  'Attacking Midfield': 'MF', 'Central Midfield': 'MF',
                  'Centre-Forward': 'FW', 'Right Winger': 'FW', 
                  'Left Winger': 'FW', 'Second Striker': 'FW'}

In [181]:
clubs = pd.read_csv('./data/clubs.csv')
clubs.loc[clubs.Squad == 'Wolves', 'Squad'] = 'Wolverhampton'

clubs.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Manchester City,38,29,6,3,99,26,73,93,2.45,88.7,24.6,64.0,1.68,52774,Kevin De Bruyne - 15,Ederson,→ Champions League via league finish
1,2,Liverpool,38,28,8,2,94,26,68,92,2.42,88.7,33.8,54.9,1.45,53352,Mohamed Salah - 23,Alisson,→ Champions League via league finish
2,3,Chelsea,38,21,11,6,76,33,43,74,1.95,63.4,33.2,30.1,0.79,36443,Mason Mount - 11,Edouard Mendy,→ Champions League via league finish
3,4,Tottenham,38,22,5,11,69,40,29,71,1.87,61.2,39.3,21.9,0.58,56523,Son Heung-min - 23,Hugo Lloris,→ Champions League via league finish
4,5,Arsenal,38,22,3,13,61,48,13,69,1.82,60.5,45.7,14.9,0.39,59665,Bukayo Saka - 11,Aaron Ramsdale,→ Europa League via league finish

In [182]:
add_info = pd.read_csv('./data/players.csv', index_col=0)
add_info.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,...,Per_90_Minutes_G+A,Per_90_Minutes_G-PK,Per_90_Minutes_G+A-PK,Per_90_Minutes_xG,Per_90_Minutes_xAG,Per_90_Minutes_xG+xAG,Per_90_Minutes_npxG,Per_90_Minutes_npxG+xAG,Matches,-9999
Rk,,,,,,,,,,,,,,,,,,,,,
1,Max Aarons,eng ENG,DF,Norwich City,21,2000,34,32,2881,32.0,...,0.06,0.00,0.06,0.03,0.05,0.08,0.03,0.08,Matches,774cf58b
2,Che Adams,sct SCO,FW,Southampton,25,1996,30,23,2039,22.7,...,0.44,0.31,0.44,0.31,0.13,0.45,0.31,0.45,Matches,f2bf1b0f
3,Rayan Aït Nouri,fr FRA,DFMF,Wolves,20,2001,23,20,1828,20.3,...,0.15,0.05,0.15,0.03,0.08,0.11,0.03,0.11,Matches,9b398aea
4,Kristoffer Ajer,no NOR,DF,Brentford,23,1998,24,23,1995,22.2,...,0.18,0.05,0.18,0.04,0.08,0.11,0.04,0.11,Matches,a8c0acb7
5,Nathan Aké,nl NED,DF,Manchester City,26,1995,14,10,923,10.3,...,0.20,0.20,0.20,0.07,0.06,0.12,0.07,0.12,Matches,eaeca114

In [237]:
import datetime as dt

dict_months = {'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 
               'May': '05', 'Jun': '06', 'Jul': '01', 'Aug': '08', 'Sep': '09', 
               'Oct': '10', 'Nov': '11', 'Dec': '12'}

def get_date(string_date):
    if string_date == '-' or string_date is np.nan:
        return np.nan
    
    
    month = dict_months[string_date.split(' ')[0]]
    day = string_date.split(' ')[1].split(',')[0]
    year = string_date[-4:]
    if len(day) == 1:
        day = '0' + day
    
    return dt.datetime.strptime(f'{day}-{month}-{year}','%d-%m-%Y')

In [298]:
import pycountry_convert as pc

def country_to_continent(country_name):
    if country_name in ['England', 'Wales', 'Scotland', 'Kosovo', 'Bosnia-Herzegovina', 'Northern Ireland']:
        return 'Europe'
    
    if country_name in ["Cote d'Ivoire", 'DR Congo']:
        return 'Africa'
    
    if country_name == 'Korea, South':
        return 'Asia'

    country_alpha2 = pc.country_name_to_country_alpha2(country_name)
    country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_continent_name
'Korea, South'

'Korea, South'

In [332]:
players = pd.concat([df_leave, df_remain]) # объединяем ушедших и оставшихся

# для удобства создадим колонку со статусом игроков (остался/ушел в аренду/продан)
# и укажем стоимость проданных игроков
players['status'] = players.fee_y.map(dict_classes).fillna(2) 
players['fee'] = np.nan
players.loc[players['status'] == 2, 'fee'] = players.loc[players.status == 2, 'fee_y']
players.drop(columns='fee_y', inplace=True)

players['position'] = players['position'].map(dict_positions) # переобозначим позиции

# добавляем дополнительную статистику
players['goal_per_90min'] = players.apply(lambda x: 90 * int(x.goal) / int(x.minute) 
                                        if x.minute != 0 else 0, axis=1)
players['assist_per_90min'] = players.apply(lambda x: int(x.goal) / int(x.minute) 
                                        if x.minute != 0 else 0, axis=1)
players['age2'] = players['age'] ** 2

# добавляем информацию о рейтинге клуба
players = players.merge(clubs[['Rk', 'Squad']], left_on='club', how='left', right_on='Squad')
players.Rk.fillna(19, inplace=True) ### !!! баг в парсинге, надо добыть эти клубы

# работаем со временем
players['joined_club'] = players['join'].apply(get_date)
players['contract_end'] = players['contract'].apply(get_date)
players.drop(['join', 'contract'], axis=1, inplace=True)

start_of_transfers = dt.datetime.strptime('10-06-2022','%d-%m-%Y')
players['contract_left'] = players['contract_end'] - start_of_transfers
players['contract_left'] = players['contract_left'].dt.days
players.loc[players.contract_left < 0, 'contract_left'] = 0 # есть футболист с контрактом закончившимся в январе 2022
players['contract_left'].fillna(np.nanmedian(players['contract_left']), inplace=True)

# континент
players['continent'] = players.nationality.map(country_to_continent)
players['from_Europe'] = (players['continent'] == 'Europe') * 1
players['from_GB'] = players['nationality'].isin(['England', 'Wales', 'Scotland', 'Northern Ireland']) * 1

players.head()

,Name,age,date,nationality,club,position,market,match,goal,assist,...,assist_per_90min,age2,Rk,Squad,joined_club,contract_end,contract_left,continent,from_Europe,from_GB
0,Mattéo Guendouzi,23,"Apr 14, 1999",France,Arsenal,MF,25.0,56,5,14,...,0.001073,529,5.0,Arsenal,2021-06-30,2023-06-30,385.0,Europe,1,0
1,Lucas Torreira,26,"Feb 11, 1996",Uruguay,Arsenal,MF,15.0,35,5,2,...,0.001962,676,5.0,Arsenal,2022-06-30,2023-06-30,385.0,South America,0,0
2,Bernd Leno,30,"Mar 4, 1992",Germany,Arsenal,GK,10.0,8,0,0,...,0.000000,900,5.0,Arsenal,2018-01-01,2025-06-30,1116.0,Europe,1,0
3,Konstantinos Mavropanos,24,"Dec 11, 1997",Greece,Arsenal,DF,15.0,33,5,1,...,0.001752,576,5.0,Arsenal,2020-01-12,2023-06-30,385.0,Europe,1,0
4,Héctor Bellerín,27,"Mar 19, 1995",Spain,Arsenal,DF,8.0,32,0,5,...,0.000000,729,5.0,Arsenal,2014-01-01,2023-06-30,385.0,Europe,1,0

In [329]:
players.describe()

,age,market,goal,assist,minute,miss,clean,status,position_FW,position_GK,position_MF,goal_per_90min,assist_per_90min,age2,Rk,contract_left,from_Europe,from_GB
count,809.000000,719.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000,809.000000
mean,24.768850,12.881885,3.218789,2.415328,1954.731768,2.651422,0.631644,0.372064,0.243511,0.113721,0.292954,0.138005,0.001533,636.291718,11.686032,839.305315,0.792336,0.464771
std,4.777445,16.994433,4.789411,2.984376,1058.602482,9.821533,2.699521,0.610357,0.429466,0.317668,0.455399,0.178844,0.001987,247.984866,6.614402,485.294161,0.405886,0.499066
min,16.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,256.000000,1.000000,0.000000,0.000000,0.000000
25%,21.000000,1.200000,0.000000,0.000000,1193.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,441.000000,5.000000,385.000000,1.000000,0.000000
50%,24.000000,5.500000,1.000000,1.000000,1921.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.069659,0.000774,576.000000,13.000000,751.000000,1.000000,0.000000
75%,28.000000,18.000000,4.000000,4.000000,2648.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.204856,0.002276,784.000000,19.000000,1116.000000,1.000000,1.000000
max,40.000000,90.000000,43.000000,21.000000,5016.000000,82.000000,27.000000,2.000000,1.000000,1.000000,1.000000,0.977026,0.010856,1600.000000,19.000000,2577.000000,1.000000,1.000000

In [330]:
players.isna().any()

Name                False
age                 False
date                False
nationality         False
club                False
market               True
match               False
goal                False
assist              False
minute              False
miss                False
clean               False
height              False
href                False
status              False
fee                  True
position_FW         False
position_GK         False
position_MF         False
goal_per_90min      False
assist_per_90min    False
age2                False
Rk                  False
Squad                True
joined_club          True
contract_end         True
contract_left       False
continent           False
from_Europe         False
from_GB             False
dtype: bool

In [196]:
players.status.value_counts()

0.0    564
1.0    189
2.0     56
Name: status, dtype: int64

In [197]:
players.loc[(~players.fee.isna())].position.value_counts()

DF    19
FW    18
MF    14
GK     5
Name: position, dtype: int64

### Обычный МНК

Регрессия по всем полевым игрокам:

In [209]:
needed_columns = ['age', 'age2', 'goal_per_90min', 'assist_per_90min',
                  'position', 'minute', 'Rk', 'fee']
sold = players.loc[(~players.fee.isna()) & (players.position != 'GK'), needed_columns]
sold = pd.get_dummies(sold, columns=['position'], drop_first=True)

sold.head()

,age,age2,goal_per_90min,assist_per_90min,minute,Rk,fee,position_FW,position_MF
0,23,529,0.096567,0.001073,4660,5.0,11.0,0,1
1,26,676,0.176540,0.001962,2549,5.0,6.0,0,1
3,24,576,0.157673,0.001752,2854,5.0,3.2,0,0
13,18,324,0.169972,0.001889,1059,14.0,18.0,0,1
14,26,676,0.029479,0.000328,3053,14.0,17.5,0,0

In [213]:
X = sm.add_constant(sold.drop('fee', axis=1))
y = np.log(sold.fee.astype(float))

ols = sm.OLS(y, X).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    fee   R-squared:                       0.193
Model:                            OLS   Adj. R-squared:                  0.062
Method:                 Least Squares   F-statistic:                     1.470
Date:                Sat, 11 Mar 2023   Prob (F-statistic):              0.203
Time:                        21:30:55   Log-Likelihood:                -77.685
No. Observations:                  51   AIC:                             171.4
Df Residuals:                      43   BIC:                             186.8
Df Model:                           7
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -2.8893      9.953     -0.290      0.773     -22.961      17.183
age                  0.3434      0.793      0.433      0.667      -1.256       1.943
age2                -0.0078      0.016     -0.494      0.624      -0.040       0.024
goal_per_90min       1.7965      1.278      1.405      0.167      -0.782       4.375
assist_per_90min     0.0200      0.014      1.405      0.167      -0.009       0.049
minute               0.0005      0.000      2.413      0.020     7.4e-05       0.001
Rk                   0.0254      0.029      0.880      0.383      -0.033       0.084
position_FW         -0.2304      0.631     -0.365      0.717      -1.504       1.043
position_MF         -0.0444      0.456     -0.097      0.923      -0.964       0.875
==============================================================================
Omnibus:                        1.305   Durbin-Watson:                   1.653
Prob(Omnibus):                  0.521   Jarque-Bera (JB):                1.030
Skew:                          -0.066   Prob(JB):                        0.598
Kurtosis:                       2.316   Cond. No.                     1.80e+20
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.32e-33. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [214]:
-0.3434 / (2 * (-0.0078))

22.01282051282051

 Если учитывать и вратарей:

In [215]:
needed_columns = ['age', 'age2', 'goal_per_90min', 'assist_per_90min',
                  'position', 'miss', 'clean', 'position', 'minute', 'Rk', 'fee']
sold = players.loc[(~players.fee.isna()), needed_columns]
sold = pd.get_dummies(sold, columns=['position'], drop_first=True)

sold.head()

,age,age2,goal_per_90min,assist_per_90min,miss,clean,minute,Rk,fee,position_FW,position_GK,position_MF
0,23,529,0.096567,0.001073,0,0,4660,5.0,11.0,0,0,1
1,26,676,0.176540,0.001962,0,0,2549,5.0,6.0,0,0,1
2,30,900,0.000000,0.000000,11,3,720,5.0,3.6,0,1,0
3,24,576,0.157673,0.001752,0,0,2854,5.0,3.2,0,0,0
13,18,324,0.169972,0.001889,0,0,1059,14.0,18.0,0,0,1

In [216]:
X = sm.add_constant(sold.drop('fee', axis=1))
y = np.log(sold.fee.astype(float))

ols = sm.OLS(y, X).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    fee   R-squared:                       0.272
Model:                            OLS   Adj. R-squared:                  0.110
Method:                 Least Squares   F-statistic:                     1.683
Date:                Sat, 11 Mar 2023   Prob (F-statistic):              0.115
Time:                        21:32:47   Log-Likelihood:                -82.694
No. Observations:                  56   AIC:                             187.4
Df Residuals:                      45   BIC:                             209.7
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -2.6015      9.314     -0.279      0.781     -21.362      16.159
age                  0.3165      0.732      0.432      0.668      -1.159       1.792
age2                -0.0072      0.014     -0.500      0.620      -0.036       0.022
goal_per_90min       1.8100      1.246      1.453      0.153      -0.699       4.319
assist_per_90min     0.0201      0.014      1.453      0.153      -0.008       0.048
miss                -0.0331      0.037     -0.907      0.369      -0.107       0.040
clean               -0.0647      0.169     -0.384      0.703      -0.404       0.275
minute               0.0005      0.000      2.481      0.017     8.5e-05       0.001
Rk                   0.0263      0.027      0.959      0.343      -0.029       0.081
position_FW         -0.2416      0.611     -0.395      0.694      -1.472       0.989
position_GK          0.9372      1.568      0.598      0.553      -2.220       4.094
position_MF         -0.0504      0.443     -0.114      0.910      -0.943       0.842
==============================================================================
Omnibus:                        0.381   Durbin-Watson:                   1.747
Prob(Omnibus):                  0.826   Jarque-Bera (JB):                0.546
Skew:                          -0.059   Prob(JB):                        0.761
Kurtosis:                       2.531   Cond. No.                     1.80e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.11e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

## DMF

In [307]:
players.isna().any()

Name                False
age                 False
date                False
nationality         False
club                False
position            False
market               True
match               False
goal                False
assist              False
minute              False
miss                False
clean               False
height              False
href                False
status              False
fee                  True
goal_per_90min      False
assist_per_90min    False
age2                False
Rk                  False
Squad                True
joined_club          True
contract_end         True
contract_left       False
continent           False
from_Europe         False
from_GB             False
dtype: bool

In [367]:
X_class, y_class = players[['age', 'age2', 'contract_left', 'from_GB']], players.status

X_class = sm.add_constant(X_class)

In [368]:
X_class

     const  age  age2  contract_left  from_GB
0      1.0   23   529          385.0        0
1      1.0   26   676          385.0        0
2      1.0   30   900         1116.0        0
3      1.0   24   576          385.0        0
4      1.0   27   729          385.0        0
..     ...  ...   ...            ...      ...
804    1.0   22   484         1481.0        0
805    1.0   22   484         1846.0        0
806    1.0   22   484          385.0        0
807    1.0   31   961          751.0        0
808    1.0   26   676         1481.0        0

[809 rows x 5 columns]

In [369]:
# MNLogit statsmodels
lr = MNLogit(y_class, X_class).fit(method='newton', maxiter=10000)

df = pd.DataFrame()
prob = lr.predict()
df['proba0'] = prob[:, 0]
df['proba1'] = prob[:, 1]
df['proba2'] = prob[:, 2]

## Лямбды
df['lambda1'] = -np.log(prob[:, 0])
df['lambda2'] = prob[:, 1] * np.log(prob[:, 1]) / (1 - prob[:, 1])
df['lambda3'] = prob[:, 2] * np.log(prob[:, 2]) / (1 - prob[:, 2])

lr.summary()

Optimization terminated successfully.
         Current function value: 0.730632
         Iterations 8

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:                 status   No. Observations:                  809
Model:                        MNLogit   Df Residuals:                      799
Method:                           MLE   Df Model:                            8
Date:                Sun, 12 Mar 2023   Pseudo R-squ.:                 0.05852
Time:                        03:01:03   Log-Likelihood:                -591.08
converged:                       True   LL-Null:                       -627.82
Covariance Type:            nonrobust   LLR p-value:                 9.937e-13
=================================================================================
     status=1       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -5.4661      2.305     -2.371      0.018      -9.985      -0.947
age               0.3543      0.179      1.975      0.048       0.003       0.706
age2             -0.0058      0.003     -1.709      0.087      -0.012       0.001
contract_left    -0.0006      0.000     -3.184      0.001      -0.001      -0.000
from_GB          -0.5046      0.180     -2.811      0.005      -0.856      -0.153
---------------------------------------------------------------------------------
     status=2       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const           -25.3193      6.643     -3.812      0.000     -38.339     -12.300
age               1.8608      0.526      3.539      0.000       0.830       2.891
age2             -0.0356      0.010     -3.470      0.001      -0.056      -0.016
contract_left    -0.0002      0.000     -0.743      0.458      -0.001       0.000
from_GB          -1.3970      0.367     -3.811      0.000      -2.116      -0.679
=================================================================================
"""

In [371]:
-0.3543 / (2 * -0.0058), -1.8608 / (2 * -0.0356)

(30.543103448275865, 26.134831460674157)

In [373]:
needed_columns = ['age', 'age2', 'goal_per_90min', 'assist_per_90min',
                  'position', 'minute', 'Rk', 'fee', 'lambda1', 'lambda2', 'lambda3']

df_no_nans = pd.concat([df, players], axis=1)
df_no_nans = df_no_nans.loc[(~players.fee.isna()) & (players.position != 'GK'), needed_columns]
X_fee = sm.add_constant(df_no_nans.drop('fee', axis=1))
X_fee = pd.get_dummies(X_fee, columns=['position'], drop_first=True)
y_fee = np.log(df_no_nans['fee'].astype(float))

## Линейная модель
ols = sm.OLS(y_fee, X_fee).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    fee   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     1.009
Date:                Sun, 12 Mar 2023   Prob (F-statistic):              0.453
Time:                        03:03:44   Log-Likelihood:                -77.423
No. Observations:                  51   AIC:                             176.8
Df Residuals:                      40   BIC:                             198.1
Df Model:                          10
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -7.0796     13.079     -0.541      0.591     -33.514      19.355
age                  0.7060      1.078      0.655      0.516      -1.472       2.884
age2                -0.0147      0.021     -0.696      0.490      -0.057       0.028
goal_per_90min       1.6350      1.422      1.149      0.257      -1.240       4.510
assist_per_90min     0.0182      0.016      1.149      0.257      -0.014       0.050
minute               0.0005      0.000      2.240      0.031    4.41e-05       0.001
Rk                   0.0272      0.030      0.898      0.375      -0.034       0.089
lambda1             -0.6313      5.848     -0.108      0.915     -12.450      11.188
lambda2              0.5242      7.311      0.072      0.943     -14.253      15.301
lambda3              0.0237      5.957      0.004      0.997     -12.016      12.064
position_FW         -0.1314      0.700     -0.188      0.852      -1.546       1.283
position_MF         -0.0056      0.495     -0.011      0.991      -1.006       0.995
==============================================================================
Omnibus:                        0.536   Durbin-Watson:                   1.742
Prob(Omnibus):                  0.765   Jarque-Bera (JB):                0.643
Skew:                          -0.045   Prob(JB):                        0.725
Kurtosis:                       2.457   Cond. No.                     6.65e+21
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.8e-36. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [374]:
70 / 3

23.333333333333332

In [375]:
needed_columns = ['age', 'age2', 'goal_per_90min', 'assist_per_90min', 'miss', 'clean',
                  'position', 'minute', 'Rk', 'fee', 'lambda1', 'lambda2', 'lambda3']

df_no_nans = pd.concat([df, players], axis=1)
df_no_nans = df_no_nans.loc[(~players.fee.isna()), needed_columns]
X_fee = sm.add_constant(df_no_nans.drop('fee', axis=1))
X_fee = pd.get_dummies(X_fee, columns=['position'], drop_first=True)
y_fee = np.log(df_no_nans['fee'].astype(float))

## Линейная модель
ols = sm.OLS(y_fee, X_fee).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    fee   R-squared:                       0.279
Model:                            OLS   Adj. R-squared:                  0.056
Method:                 Least Squares   F-statistic:                     1.250
Date:                Sun, 12 Mar 2023   Prob (F-statistic):              0.281
Time:                        03:05:08   Log-Likelihood:                -82.433
No. Observations:                  56   AIC:                             192.9
Df Residuals:                      42   BIC:                             221.2
Df Model:                          13
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
const               -6.4771     12.412     -0.522      0.605     -31.526      18.572
age                  0.6543      1.019      0.642      0.524      -1.402       2.711
age2                -0.0135      0.020     -0.684      0.498      -0.053       0.026
goal_per_90min       1.6961      1.366      1.242      0.221      -1.060       4.452
assist_per_90min     0.0188      0.015      1.242      0.221      -0.012       0.049
miss                -0.0282      0.039     -0.731      0.469      -0.106       0.050
clean               -0.0731      0.179     -0.410      0.684      -0.433       0.287
minute               0.0005      0.000      2.326      0.025    6.02e-05       0.001
Rk                   0.0285      0.029      0.982      0.332      -0.030       0.087
lambda1             -0.3089      5.540     -0.056      0.956     -11.489      10.871
lambda2              0.7586      7.050      0.108      0.915     -13.468      14.986
lambda3              0.3631      5.643      0.064      0.949     -11.024      11.750
position_FW         -0.1675      0.667     -0.251      0.803      -1.513       1.178
position_GK          0.9319      1.659      0.562      0.577      -2.416       4.280
position_MF         -0.0248      0.477     -0.052      0.959      -0.987       0.937
==============================================================================
Omnibus:                        0.071   Durbin-Watson:                   1.828
Prob(Omnibus):                  0.965   Jarque-Bera (JB):                0.263
Skew:                          -0.025   Prob(JB):                        0.877
Kurtosis:                       2.668   Cond. No.                     1.09e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.04e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""